@import './reset.css';
@import './nprogress.css';
@import './transition.css';

html,
body,
#app {
  height: 100%;
  text-autospace: normal;
  font-family:
    'Plus Jakarta Sans',
    'HarmonyOS Sans SC',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

html {
  overflow-x: hidden;
  color: rgb(var(--base-text-color));
}
